@charset "UTF-8";

body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;

    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.363);
    
  
}

section > div {
    color: rgba(0, 0, 0, 0.76);
    margin-bottom: 20px;
    font-weight: bold;
}

#imagem{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}


